################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Maverick.PCF.Builder/v15/Server/sqlite3
